(
    name: "example",
    grid_data: (
        palette: [
            "floor",
            "wall",
        ],
        palette_gas: [],
        chunks: {
            (-1, 0): (
                tiles: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 2, 1, 1, 1, 1, 1, 0, 0, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                mixtures: [],
            ),
            (-1, -1): (
                tiles: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 0, 0, 2, 1, 1, 1, 1, 1, 0, 0, 2, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
                mixtures: [],
            ),
            (-2, 0): (
                tiles: [0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                mixtures: [],
            ),
            (0, -1): (
                tiles: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 1, 0, 0, 1, 1, 1, 1, 1, 2, 0, 0, 1, 1, 1, 1, 1, 2, 0, 0, 1, 1, 1, 1, 1, 2, 0, 0, 1, 1, 1, 1, 1, 2, 0, 0],
                mixtures: [],
            ),
            (0, 0): (
                tiles: [1, 1, 1, 1, 1, 2, 0, 0, 1, 1, 1, 1, 1, 2, 0, 0, 1, 1, 1, 1, 1, 2, 0, 0, 1, 1, 1, 1, 1, 2, 0, 0, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                mixtures: [],
            ),
            (-2, -1): (
                tiles: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 0, 0, 0, 0, 0, 1, 1, 1],
                mixtures: [],
            ),
        },
    ),
    entities: [
        (
            entity: 4294966322,
            tag: "wrench",
            transform: (
                translation: (-2.1103554, 0.00000047683716, -0.7836807),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966318,
            tag: "wrench",
            transform: (
                translation: (-2.117403, 0.0, -0.43221974),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966314,
            tag: "wrench",
            transform: (
                translation: (-2.1526558, 0.0, 0.37953305),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966310,
            tag: "wrench",
            transform: (
                translation: (2.8756716, 0.0, -3.8899682),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966189,
            tag: "vent",
            transform: (
                translation: (1.4824506, 0.0, 0.48183942),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966194,
            tag: "scrubber",
            transform: (
                translation: (-1.0068518, 0.00000047683716, -0.4999938),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966306,
            tag: "spawner_human",
            transform: (
                translation: (0.7695731, 0.0, -0.9615667),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966302,
            tag: "spawner_human",
            transform: (
                translation: (0.2098465, 0.00000047683716, -0.3471012),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966298,
            tag: "spawner_human",
            transform: (
                translation: (0.7543938, 0.0, 0.40307117),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966294,
            tag: "spawner_human",
            transform: (
                translation: (1.724338, 0.0, -2.0983024),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966290,
            tag: "spawner_observer",
            transform: (
                translation: (-0.94926727, 0.0, 1.166528),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966198,
            tag: "bike_horn",
            transform: (
                translation: (-2.4481933, 0.0, 1.8854265),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966235,
            tag: "ghost",
            transform: (
                translation: (5.9403973, 0.0, -0.57206535),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966286,
            tag: "plant9",
            transform: (
                translation: (-4.2425814, -0.00000047683716, -3.3205132),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966281,
            tag: "plant9",
            transform: (
                translation: (-4.227649, 0.00000047683716, -1.8428214),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966276,
            tag: "plant9",
            transform: (
                translation: (1.2803419, -0.00000047683716, -5.7762046),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966271,
            tag: "plant15",
            transform: (
                translation: (-1.0999068, 0.0, -3.315714),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966267,
            tag: "plant15",
            transform: (
                translation: (5.905693, 0.0, -2.899462),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966263,
            tag: "plant36b",
            transform: (
                translation: (4.6479077, 0.0, 0.0006117821),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966259,
            tag: "plant36b",
            transform: (
                translation: (6.634918, 0.00000047683716, -2.2727466),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966255,
            tag: "plant36b",
            transform: (
                translation: (6.4548554, 0.0, -2.2487154),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966251,
            tag: "plant14",
            transform: (
                translation: (4.770063, 0.00000047683716, -1.8150635),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966247,
            tag: "plant14",
            transform: (
                translation: (5.9447775, 0.0, -4.828282),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966243,
            tag: "plant31",
            transform: (
                translation: (4.298749, 0.0, -3.490342),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966239,
            tag: "plant31",
            transform: (
                translation: (5.7719526, 0.0, -1.2911482),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966228,
            tag: "plant36",
            transform: (
                translation: (3.619235, 0.0, 2.5548792),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966224,
            tag: "plant36",
            transform: (
                translation: (2.6237063, 0.0, -2.6275916),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966220,
            tag: "plant36",
            transform: (
                translation: (2.6853385, 0.0, -2.7482),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966216,
            tag: "plant6",
            transform: (
                translation: (4.3618317, -0.00000047683716, -6.5853662),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966212,
            tag: "plant19",
            transform: (
                translation: (1.4682502, 0.0, -3.7166784),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966208,
            tag: "foamtank",
            transform: (
                translation: (0.32893687, -0.00000047683716, -3.5597663),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            entity: 4294966203,
            tag: "fueltank",
            transform: (
                translation: (-2.7868729, -0.00000047683716, -3.5152798),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
    ],
)